<%= form_for(@box_file) do |f| %>
  <% if @box_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_file.errors.count, "error") %> prohibited this box_file from being saved:</h2>

      <ul>
      <% @box_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>ファイル</span>
        <input type="file" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="file_name" type="text" class="validate">
      <label for="file_name">ファイル名</label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit label: 'text', class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
